<section class="container">
  <header>
    <div (click)="goToShop()">
      <span class="material-symbols-outlined">
        shopping_bag
      </span>
    </div>

    <div (click)="goToCart()">
      <div class="cart">
        {{ price$ | async | currency }}
        <span class="material-symbols-outlined">
          shopping_cart
        </span>
        {{ quantity$ | async }}
      </div>
    </div>
  </header>

  <div class="body">
    <router-outlet />
  </div>

  <footer></footer>
</section>