.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    'header'
    'body'
    'footer';

  background-color: var(--container-background-color);

  justify-items: center;

  min-height: 100vh;
  min-height: 100dvh;

  header,
  footer {
    width: 100%;
    padding: 24px;

    & span {
      cursor: pointer;
    }
  }

  header {
    grid-area: header;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    gap: 16px;

    box-shadow: var(--shadow);

    background-color: var(--grey-200);
    background-image: url('https://res.cloudinary.com/startup-grind/image/upload/c_scale,w_2560/c_crop,h_640,w_2560,y_0.0_mul_h_sub_0.0_mul_640/c_crop,h_640,w_2560/c_fill,dpr_2.0,f_auto,g_center,q_auto:good/v1/gcs/platform-data-goog/event_banners/Risorsa%201.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;

    & .cart {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      gap: 8px;

      background-color: var(--red-500);
      border-radius: 50px;

      min-width: 128px;

      padding: 8px;
      color: var(--white);
    }
  }

  .body {
    grid-area: body;

    width: 100%;
    padding: 16px;
  }

  footer {
    grid-area: footer;
  }
}