section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px;

    width: inherit;

    & .remove {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: 16px;

        & p {
            font-size: 24px;
        }
    }
}